.container {
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.80) 0%, rgba(32, 111, 126, 0.70) 96.2%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    width: 75%;
    height: 75%;
    max-width: 1200px;
    background: rgba(32, 111, 126, 0.80);
    box-shadow: 0 0 20px rgba(42, 42, 42, 0.8);
}

.leftSection {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
}

.createNewPasswordText {
    text-align: left;
    color: #206F7E;
    font-weight: bold;
}

.subText {
    text-align: left;
    color: #206F7E;
    font-size: 16px;
    margin-bottom: 50px;
    margin-top: -15px;
}

.createNewPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #206F7E;
        font-weight: 500;
}

.inputField {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #206F7E;
    margin-bottom: 5px;
    box-sizing: border-box;
    color: #206F7E;
    
}

.errorText {
    color: red;
}

.passwordInputContainer {
    position: relative;
}

.new-password-eye-icon {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
}

.confirm-password-eye-icon {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
}

.eye-icon i {
    font-size: 18px;
    color: #206F7E;
   }

.buttonStyle {
    background-color: #206F7E;
    color: #ffffff;
    position: relative;
    padding: 10px;
    border: none;
    border-radius:5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.rightSection {
    flex: 2;
    overflow: hidden;
}

.learningImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}