.container {
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.80) 0%, rgba(32, 111, 126, 0.70) 96.2%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    width: 75%;
    height: 75%;
    max-width: 1200px;
    background: rgba(32, 111, 126, 0.80);
    box-shadow: 0 0 20px rgba(42, 42, 42, 0.8);
}

.leftSection {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
}

.forgetPasswordPageText {
    text-align: left;
    color: #206F7E;
}

.forgetPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #206F7E;
}

.inputField {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #206F7E;
    box-sizing: border-box;
    color: #206F7E;
}

.errorText {
    color: red;
}
 .RemeberPass{
    cursor: pointer;
 }
.buttonStyle {
    background-color: #206F7E;
    color: #ffffff;
    position: relative;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

.rightSection {
    flex: 2;
    overflow: hidden;
}

.learningImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.link{
    text-decoration: none;
    color: #ffffff;
}
.rememberPass-link{
  
            text-decoration: none;
            color: #206F7E;
        
}